# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS-specific files
.DS_Store
Thumbs.db

# Editor metadata
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/*

# local API keys and secrets
.env.local
.env.*.local

# tool outputs
*.tsbuildinfo

# sensitive files
*.pem
*.swp

# coverage files
/_etc/coverage/*
/_etc/cov_profile.lcov

# package managers
node_modules/*
package-lock.json

# temporary files
/_etc/temp/*
!/_etc/temp/.gitkeep
