# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS-specific files
.DS_Store
Thumbs.db

# Editor metadata
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea/*

# local API keys and secrets
.env.local
.env.*.local

# sensitive files
*.key
*.pem
*.swp

# coverage files
/etc/coverage/*
/etc/coverage.lcov

# package managers
node_modules/*

# temporary files
/etc/temp/*
!/etc/temp/.gitkeep

# npm builds
/pkg/@eser/cli/dist/*
