repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
  - repo: local
    hooks:
    - id: deno-fmt-check
      name: deno fmt --check
      description: Auto-format JavaScript, TypeScript, Markdown, and JSON files.
      entry: deno fmt --check
      types_or: [javascript, jsx, ts, tsx, json, markdown]
      pass_filenames: false
      language: system
