name: Publish

on:
  push:
    branches:
      - main
      - dev

  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - "**"

concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  integration:
    name: Integration
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read # Needed to clone the repository

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest
          # - macOS-latest
        deno-version:
          - 2.6.3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Setup Deno ${{ matrix.deno-version }}
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}

      - name: Check formatting, linting, license headers, types and run tests
        run: deno task validate

      - name: Generate coverage report
        run: deno task test:coverage-gen

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          name: ${{ matrix.os }}
          files: ./etc/coverage.lcov

  delivery:
    name: Delivery
    needs: integration
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    permissions:
      contents: read
      id-token: write # The OIDC ID token is used for authentication with JSR.

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Publish to JSR
        run: deno publish

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "latest"
          registry-url: "https://registry.npmjs.org"

      - name: Build npm package
        run: deno task npm-build

      - name: Publish to npm
        run: npm publish --provenance --access public
        working-directory: ./pkg/@eser/cli/dist
