name: Continuous Deployment

on:
  # workflow_run:
  #   workflows:
  #     - Continuous Integration
  #   types:
  #     - completed
  #   branches:
  #     - main

  push:
    branches:
      - main

jobs:
  deployment:
    name: Deployment
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read  # Needed to clone the repository

    env:
      GITHUB_CLIENT_ID: ${{ secrets.GITHUB_CLIENT_ID }}
      GITHUB_CLIENT_SECRET: ${{ secrets.GITHUB_CLIENT_SECRET }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Deno (latest)
        uses: denoland/setup-deno@v1

      - name: Build step
        run: deno task build

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: c00l
          entrypoint: ./main.ts
